{% load static %} {% load humanize %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="SUREN-ABRAHAMYAN.COM | CREATED BY SUREN ABRAHAMYAN"
    />
    <title>Suren's blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <script
      src="https://kit.fontawesome.com/0e035b9984.js"
      crossorigin="anonymous"
    ></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
  </head>

  <body
    data-bs-spy="scroll"
    data-bs-target="#navbar-example"
    data-bs-offset="82">
    <header id="home">
      <nav id="#navbar" class="navbar dark dark navbar-expand-lg position-fixed top-0 w-100 py-2">
        <div class="container">
          <a class="navbar-brand" href="{% url 'portfolio:home' %}"
            ><img src="{% static 'assets/favicon/favicon-32x32.png' %}" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link" href="{% url 'portfolio:home' %}">Portfolio</a>
              <a class="nav-link active" href="{% url 'blog:all_blogs' %}">Blog</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    {% block content %}{% endblock %}
    
    <footer class="text-center text-uppercase py-5">
      <div class="copyright pt-4 text-muted text-center">
        <p>
          &copy; 2023 suren-abrahamyan.com | Created by
          <a
            href="https://suren-abrahamyan.com"
            title="Suren ABrahamyan - Portfolio Website"
            target="_blank"
            >Suren Abrahamyan</a
          >
        </p>
      </div>
    </footer>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'assets//js/script.js' %}"></script>
  </body>
</html>
